.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}
.card__desc {
  display: flex;
  background-color: #fff;
  color: #000;
  border-radius: 0 0 10px 10px;
  font-size: 24px;
  line-height: 29px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
}
.card__name {
  margin: 0;
  font-size: 24px;
  font-weight: 900;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card__heart-button {
  background: transparent url(../images/heart.svg) center no-repeat;
  height: 18px;
  width: 21px;
  border: none;
  margin-left: auto;
}
.card__heart-button:hover {
  opacity: 0.5;
  cursor: pointer;
}