.content {
	margin-bottom: 67px;
}
.content__card-list {
	display: grid;
	list-style: none;
	margin: 0;
	padding: 0;
	grid-template-columns: repeat(auto-fit, 282px);
	grid-row-gap: 20px;
	grid-column-gap: 17px;
	justify-content: center;
}
.content__card {
	display: flex;
	flex-direction: column;
}
.content__image {
	width: 282px;
	height: 282px;
	border-radius: 10px 10px 0 0;
}
.content__desc {
	display: flex;
	background-color: #fff;
	color: #000;
	border-radius: 0 0 10px 10px;
	font-size: 24px;
	line-height: 29px;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 20px;
	padding-right: 20px;
	align-items: center;
}
.content__name {
	margin: 0;
	font-size: 24px;
	font-weight: 900;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.content__heart-button {
	background: transparent url(../images/heart.svg) center no-repeat;
	height: 18px;
	width: 21px;
	border: none;
	margin-left: auto;
	transition: opacity 0.2s linear 0s;
}
.content__heart-button:hover {
	opacity: 0.5;
	cursor: pointer;
}
.heart-on {
	background-color: #000;
}

@media screen and (max-width: 480px) {
	.content {
		margin-bottom: 48px;
	}
}
