.header {
	display: flex;
	flex-direction: column;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgba(84, 84, 84, 0.7);
	padding-bottom: 41px;
}
.header__logo {
	padding-top: 45px;
	width: 173px;
	height: 33px;
}

@media screen and (max-width: 900px) {
	.header__logo {
		padding-left: 27px;
		padding-top: 28px;
		width: 126px;
		height: 24px;
	}
}
@media screen and (max-width: 480px) {
	.header {
		padding-bottom: 32px;
	}
}
