.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  color: black;
  visibility: none;
  opacity: 0;
  pointer-events: none;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}
.modal_opened {
	display: flex;
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  transition: visibility 0s, opacity 0.5s linear;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  90% { opacity: 1; }
}
@keyframes fadeOut {
  0% { opacity: 1; }
  90% { opacity: 0; }
}
.modal__container {
  max-width: 430px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.modal__preview-container {
  background: transparent;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  
}
.modal__preview-image {
  max-width: 75vw;
  max-height: 75vh;
}
.modal__preview-text {
  color: #fff;
  margin: 0;
  margin-top: 10px;
  font-size: 12px;
}
.modal__closeButton {
  background: transparent url(../images/CloseIcon.svg) center no-repeat;
  height: 40px;
  width: 40px;
  position: fixed;
  left: 430px;
  top: -40px;
  border: none;
  transition: opacity 0.3s linear 0s;
}
.close-preview {
  position: static;
  margin-left: auto;
  transform: translate(38px,0);
}
.modal__closeButton:hover {
  opacity: 0.6;
  cursor: pointer;
}
.modal__header {
  font-weight: 900;
  font-size: 24px;
  height: 23px;
  line-height: 29px;
  padding-top: 34px;
  padding-left: 36px;
  padding-right: 36px;
  padding-bottom: 54px;
  margin: 0;
}
.modal__form {
  margin-bottom: 36.51px;
}
.modal__input {
  width: 358px;
  margin-left: 36px;
  margin-right: 36px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 17px;
  padding: 0;
  padding-bottom: 13px;
  border: none;
  color: black;
  border-bottom: 1px solid;
  border-color: rgba(0, 0, 0, 0.2);
}
.modal__input:last-of-type {
  margin-bottom: 48px;
}
.modal__submission {
  color: #fff;
  background-color: black;
  width: 358px;
  margin-left: 36px;
  margin-right: 36px;
  height: 50px;
  border: 2px;
  transition: opacity 0.3s linear 0s;
}
.modal__submission:hover {
  opacity: 0.8;
  cursor: pointer;
}
.modal_type_preview.modal_opened {
  overflow: visible;
}

@media screen and (max-width: 530px) {
  .modal__container {
    width: 282px;
  }
  .modal__closeButton {
    transform: scale(0.65);
    left: 245px;
    top: -53px;
  }
  .close-preview {
    left: 0;
    top: 0;
    transform: scale(0.65) translate(48px,15px);
  }
  .modal__header {
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    height: 22px;
    padding-top: 25px;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 75px;
    margin: 0;
  }
  .modal__form {
    margin-bottom: 25px;
  }
  .modal__input {
    width: 238px;
    margin-left: 22px;
    margin-right: 22px;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 17px;
    padding: 0;
    padding-bottom: 13px;
  }
  .modal__input:last-of-type {
    margin-bottom: 46px;
  }
  .modal__submission {
    width: 238px;
    margin-left: 22px;
    margin-right: 22px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}